In [3]:
#Impoting the libraries

import numpy as np 
import pandas as pd

In [4]:
#Uploading the reviews dataset

df = pd.read_csv('Reviews.csv')

In [5]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [6]:
#Getting a sample data for the ML.The orginal dataset contains 500K observations.
df = df[:10000]

In [7]:
#removing unnecessary parts from the dataset
df.drop(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator','HelpfulnessDenominator','Time','Summary'],axis = 1 , inplace=True)

In [8]:
#seting the condition for the classification :
#1-3 - bad score
#4-5 good score


def set_score(data):
    if data >= 1 and data <=3:
        data = 0
    else:
        data = 1
    return data
        
        
        
df['Rank']  = df['Score'].apply(set_score)

In [9]:
df.head()

   Score                                               Text  Rank
0      5  I have bought several of the Vitality canned d...     1
1      1  Product arrived labeled as Jumbo Salted Peanut...     0
2      4  This is a confection that has been around a fe...     1
3      2  If you are looking for the secret ingredient i...     0
4      5  Great taffy at a great price.  There was a wid...     1

In [10]:
#cleaning the data 

import string 
import re 
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer


corpus =  []
for i in range(0,10000):
    review = re.sub('[^a-zA-Z]',' ',df['Text'][i])
    review = review.lower().split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if word not in stopwords.words('english')]
    review = " ".join(review)
    corpus.append(review)

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
#Making tfidf vectorizer
tf = TfidfVectorizer()

In [13]:
corp = tf.fit_transform(corpus).toarray()

In [14]:
#Declaring X and y 

X = corp
y = df['Rank'].values

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:
#Running a simple MLPClassifier (simple ANN) 
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

mlp = MLPClassifier(hidden_layer_sizes=(200,200))
mlp.fit(X_train,y_train)

pred = mlp.predict(X_test)

print(confusion_matrix(y_test,pred))
print('\n')
print(classification_report(y_test,pred))
print('\n')
print (accuracy_score(y_test,pred))

[[ 461  257]
 [ 205 2077]]


              precision    recall  f1-score   support

           0       0.69      0.64      0.67       718
           1       0.89      0.91      0.90      2282

   micro avg       0.85      0.85      0.85      3000
   macro avg       0.79      0.78      0.78      3000
weighted avg       0.84      0.85      0.84      3000



0.846